<div class="login-wrapper">
    <form class="login">
        <label class="title">
            CodeConfluence
        </label>
        <h4>Create your CodeConfluence profile and enjoy coding in a gender blind environment.</h4>
        <div>
            <clr-alert *ngIf="show_alert && success" [clrAlertType]="'alert-success'">
                <div class="alert-item">
                    <span class="alert-text">
                        User registered successfully. Return to <a href='#/login'>LOGIN</a>
                    </span>
                </div>
            </clr-alert>
            <clr-alert *ngIf="show_alert && !success" [clrAlertType]="'alert-danger'">
                <div class="alert-item">
                    <span class="alert-text">
                        {{error_message}}
                    </span>
                </div>
            </clr-alert>
        </div>
        <div class="login-group">
            <input #name class="username" type="text" placeholder="Name" required>
            <input #email class="username" type="text" placeholder="Email" required>
            <input #login_username class="username" type="text" placeholder="Username" required>
            <input #login_password class="password" type="password" placeholder="Password" required>

            <button type="submit" class="btn btn-primary" (click)= signupClicked()>
                Register
            </button>
            <a href="login" class="signup">Already have an account? Log in here.</a>
        </div>
    </form>
</div>
