
<h2> Hi Mary!</h2>

<div class="row">
    <div class="col-lg-4">
        <a href="LINK GOES HERE" class="card clickable">
            <div class="card">
                <div class="card-header">
                    <h2><strong></strong></h2>
                </div>
                <div class="card-img">
                    <img src="images\mary.jpg" alt="Mary"/>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a href="LINK GOES HERE" class="card clickable">
            <div class="card">
                <div class="card-header">
                    <h2><strong>Personal Info</strong></h2>
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <strong><h3>Mary Ann </h3></strong>
                        <strong><h3>American female, 25 years old</h3></strong>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="LINK GOES HERE" class="card clickable">
            <div class="card">
                <div class="card-header">
                    <h2><strong>Skillset and Interests</strong></h2>
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <ol><h3><strong>Programming Languages</strong></h3>
                            <li>
                               <strong>Java</strong>
                            </li>
                            <li>
                                <strong>C++</strong>
                            </li>
                            <li>
                                <strong>Python</strong>
                            </li>
                        </ol>
                        <ol><h3><strong>Interests</strong></h3>
                            <li>
                                Artificial Intelligence
                            </li>
                            <li>
                            Machine Learning
                            </li>

                        </ol>
                        <ul><h3><strong>Expertise</strong></h3>
                            <li>
                                Intermediate
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </a>
    </div>



