<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
          <span class="title"> Code Confluence </span>
      </a>
    </div>
      <div class="header-actions">
          <clr-dropdown clrMenuPosition="bottom-right">
              <button class="nav-icon" clrDropdownToggle>
                  <clr-icon shape="cog"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu>
                  <a clrDropdownItem (click)="logOut()">Log out</a>
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
  </clr-header>
  <nav class="sub-nav" [clr-nav-level]="1" *ngIf="showHeader">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/projects']" routerLinkActive="active">
                <div align="right"> My Projects </div> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/user']" routerLinkActive="active">My Profile</a>
        </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
