<div>
    <div class="row">
        <div class="col-xs-3">
            <a class="card card-img">
                <img src="..." alt="..." />
            </a>
        </div>
        <div class="col-xs-9">
            <div class="card">
                <div class="card-header">
                    Project Canvas
                </div>
                <div class="card-block">
                    <div class="card-media-block">
                        <div class="card-media-description">
                            <span class="card-media-text font-weight-bold">
                                Owner: John Doe
                            </span>
                        </div>
                    </div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--<dl class="stack-view">
            <h4 class="stack-header">
                <span class="stack-title">Static stack view</span>
            </h4>
            <div class="stack-block">
                <dt class="stack-block-label">Coder1</dt>
            </div>
            <div class="stack-block stack-block-expandable">
                <dt class="stack-block-label">Coder2</dt>
            </div>
        </dl>-->
        <h4 class="stack-header">
            <span class="stack-title">Team: 3/5</span>
        </h4>
        <dl class="stack-view">
            <div class="stack-block">
                <dt class="stack-block-label">Coder 1</dt>
            </div>
            <div class="stack-block">
                <dt class="stack-block-label">Coder 2</dt>
            </div>
            <div class="stack-block">
                <dt class="stack-block-label">Coder 3</dt>
            </div>
        </dl>
    </div>
