<div>
    <div class="row">
        <div class="col-xs-3">
            <a class="card card-img">
                <img src="..." alt="..." />
            </a>
        </div>
        <div class="col-xs-9">
            <div class="card">
                <div class="card-header">
                    Project Canvas
                </div>
                <div class="card-block">
                    <div class="card-media-block">
                        <div class="card-media-description">
                            <span class="card-media-text font-weight-bold">
                                Owner: John Doe
                            </span>
                        </div>
                    </div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Project Canvas
        </div>
        <div class="card-block">
            <div class="card-media-block">
                <img src="..." class="card-media-image">
                <div class="card-media-description">
                    <span class="card-media-title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
                    </span>
                    <span class="card-media-text font-weight-bold">
                        Owner: John Doe
                    </span>
                </div>
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
            </div>
        </div>
    </div>
</div>
